.cont {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #f4f4f4;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
}
#number {
  -webkit-appearance: none;
  outline: none;
  color: white;
  background: #147efb;
  padding: 10px;
}
#url {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  padding: 10px;
  outline: none;
}
.msgs {
  width: 100%;
  padding: 0.5%;
  margin-top: 10px;
}
.msg {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px;
  clear: both;
  width: -webkit-fit-content;
  max-width: 50%;
}
.sent {
  color: white;
  background-color: #147efb;
  border-radius: 15px 15px 5px 15px;

  margin-left: auto;
  margin-right: 15px;
}
.recieved {
  border-radius: 15px 15px 15px 5px;
  background-color: #e0e0e0;
}
body {
  font-family: sans-serif;
}
.write {
  width: 100%;
  text-align: center;
  bottom: 0px;
  position: absolute;
}
#input {
  outline: none;
  transition: 0.1s linear;
  resize: none;
  width: 70%;
  font-size: 1.3em;
  height: 50px;
  padding: 0px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  line-height: 2;
  padding-left: 15px;
  padding-right: 15px;
}

#input:focus {
  border: 2px solid #747373;
}

#send {
  transition: 0.3s;
  position: relative;
  top: -22px;

  padding: 20px;
  background-color: #147efb;
  border: none;
  color: white;
  border-radius: 5px;
}
#send:active {
  background-color: #0c4e9c;
}
